.card {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Subtle elevation */
  height: 70vh; /* Half the screen height */
  width: 50vw; /* Half the screen width */
  padding: 20px;
  margin: auto;
  overflow: hidden;
}

.card-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto; /* Allow content to scroll if necessary */
}

.heading {
  font-size: 24px;
  font-weight: bold;
  text-align: left;
}

.subheading {
  font-size: 16px;
  font-style: italic;
  text-align: left;
  margin-bottom: 20px;
}

.chart-container {
  flex: 1; /* Take remaining space */
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-container {
  margin-top: 0px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.grid-item {
  display: flex;
  align-items: center;
}

.color-box {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
